PORT=
MONGODB_URI=
SALT_ROUNDS=10
JWT_SECRET=
NODE_ENV=development
FRONTEND_ORIGIN=
OPENAI_API_KEY=
RESEND_API_KEY=
APP_PUBLIC_URL=
EMAIL_FROM=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=